body {
  background: transparent;
  font-family: 'Creepster', Arial, sans-serif;
}

.widget-note {
  width: 420px;
  padding: 20px 27px 16px 27px;
  background: linear-gradient(135deg, #160D13 75%, #460006 100%);
  border: 3px solid #911C1D;
  box-shadow: 0 0 60px #21021D, 0 0 14px #b70017;
  border-radius: 18px;
  color: #fbe8ea;
  filter: drop-shadow(0 1px 11px #440007a0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  text-shadow: 2px 4px 2px #2a0003;
}

.toggle-btn, .reset-btn {
  background: #2A0004;
  color: #FFD7D7;
  border: 2px solid #6f0101;
  box-shadow: 0 0 9px #660009;
  padding: 4px 13px;
  margin-left: 7px;
  border-radius: 6px;
  font-family: 'Creepster', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 1.08em;
  cursor: pointer;
  transition: 0.22s;
}
.toggle-btn:hover, .reset-btn:hover {
  background: #5e0013;
  color: #ffd7d7;
}

.progress-bar-bg {
  position: relative;
  width: 100%;
  height: 39px;
  margin-bottom: 13px;
  background: repeating-linear-gradient(135deg, #200, #441 7px, #381117 14px, #6b1e1b 18px);
  border-radius: 14px;
  border: 3px solid #280003;
  overflow: hidden;
}
.progress-bar-fg {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #b70017 0%, #6b1e1b 100%);
  box-shadow: 0 0 16px #c20019b6, 0 0 8px #490009;
  border-radius: 14px 0 0 14px;
  transition: width 0.7s cubic-bezier(.68,-0.55,.27,1.55);
  z-index: 1;
}
.progress-label {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 2.3em;
  letter-spacing: .06em;
  top: -2px;
  font-family: 'Creepster', Arial, sans-serif;
  text-shadow: 0px 0px 26px #900002cc, 2px 3px 6px #350002, 0 0 7px #e8003a99;
  z-index: 2;
  pointer-events: none;
}

.flash {
  animation: bloodflash 0.42s;
}
@keyframes bloodflash {
  0% { background: #f00; color: #111; }
  50% { background: #200; color: #fefefe;}
  100% { background: inherit; color: #ffd9d9;}
}

.info, .last-voters, .actions {
  margin-top: 9px;
  font-size: 1em;
  font-family: 'Creepster', Arial, sans-serif;
}

#votants {
  padding-left: 13px;
  margin: 2px 0;
  color: #e26d8d;
  font-size: 1.17em;
}
#votants li {
  margin-bottom: 0;
  filter: blur(0.10px) brightness(0.8);
  text-shadow: 0 0 4px #d23939, 1px 2px 2px #210009;
}

.actions button {
  margin-right: 8px;
  background: #440009;
  color: #ffc6cc;
  border: 2px solid #c1101a;
  padding: 3px 11px;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Creepster', Arial, sans-serif;
  font-size: 1.09em;
  letter-spacing: .11em;
  box-shadow: 0 0 10px #430014;
  transition: background .19s;
}
.actions button:hover {
  background: #900025;
  color: #fff;
}
